body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9ece6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f6d8cf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #734b42;
}

.editor {
    margin-top: 20px;
}

.input-section {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.recipe-title {
    text-align: center;
    margin-bottom: 20px;
}

#ingredientInput, #instructionInput {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #e59866;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d68b58;
}

.recipe-section {
    display: flex;
}

.ingredients-section, .instructions-section {
    flex: 1;
}

.ingredients-section, .instructions-section {
    padding: 10px;
}

.ingredients-section {
    background-color: #fbe5dd;
}

.instructions-section {
    background-color: #f8e9d4;
}

ul, ol {
    padding-left: 20px;
}

.export-section {
    text-align: center;
    margin-top: 20px;
}

.rounded-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ddd;
}